.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}


/* Base button style */
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e54545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    
  }

  .text-center{
    margin-top: 5px;
     text-align: center;
  }
  
  /* Button hover state */
  .custom-button:hover {
    background-color: #e54545;
  }
  
  /* Button active (clicked) state */
  .custom-button:active {
    background-color: #2980b9;
    transform: scale(0.95);
  }
  
  .mt50{
    margin-top: 70px;
  }  

  .heading {
    text-align: center;
    color: #3498db; /* Change the color to your preference */
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Optional: add a subtle text shadow */
}

/* css for Circle and Cancel Icon */

.correct-icon,
.incorrect-icon {
  vertical-align: middle;
  margin-left: 5px; /* Adjust the margin as needed */
  font-size: 25px; /* Adjust the font size as needed */
}

.correct-icon {
  color: green;
}

.incorrect-icon {
  color: red;
}

/* Add this in your component CSS or global stylesheet */
.custom-disabled.mat-radio-button {
  pointer-events: none; /* Disable mouse events for the radio button */
}

.custom-disabled .mat-radio-label {
  color: inherit; /* Optionally, reset the color to inherit from the parent */
}
