<div class="bootstrap-wrapper">
    <mat-card>
      <mat-card-header>
        <div class="container">
          <div class="row">
            <div class="col">
              <!-- Search bar create -->
              <mat-form-field class="search-bar">
                <mat-icon matPrefix>search</mat-icon>
                <input #dataInput matInput placeholder="Search Quizzes" (keyup)="filterQuizzes(dataInput.value)">
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-header>
  
      <mat-card-content>
        <mat-card class="" style="margin-top: 40px; margin-right: 20px; margin-left: 20px;" *ngFor="let q of pagedUsers">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <h1>{{q.title}}</h1>
            </mat-card-title>
            <mat-card-subtitle>
              <h2>{{q.category.title}}</h2>
            </mat-card-subtitle>
          </mat-card-header>
  
          <mat-card-content>
            <h3>{{q.description}}</h3>
          </mat-card-content>
  
          <mat-card-actions>
            <button class="btn btn-primary" [routerLink]="'/admin-dashboard/view-questions/' + q.quizId + '/' + q.title">All Questions</button>
            <button class="btn btn-secondary">Max Marks {{q.maxMarks}}</button>
            <button class="btn btn-secondary">View Question only {{q.numberOfQuestions}}</button>
            <button class="btn btn-danger" [routerLink]="'/admin-dashboard/quiz-update/' + q.quizId">Update</button>
            <button class="btn btn-danger" (click)="deleteQuizById(q.quizId)">Delete</button>
          </mat-card-actions>
        </mat-card>
  
        <div class="container mt-5" routerLink="/admin-dashboard/add-quiz">
          <button class="btn btn-danger center">Add More Quiz</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  


<mat-paginator class="paginator-custom-color" [length]="filteredQuiz.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOp"
  (page)="onPageChange($event)">
</mat-paginator>