<div class="bootstrap-wrapper">
    <!-- Bootstrap container for the layout -->
    <mat-card>
      <!-- Angular Material card -->
      <mat-card-content>
        <!-- Content inside the card -->
        <div class="container">
          <!-- Bootstrap container class -->
          <div class="row">
            <!-- Bootstrap row class -->
            <div class="col" style="margin: 100px;">
              <!-- Bootstrap column class with margin -->
              <mat-card>
                <!-- Nested Angular Material card -->
                <mat-card-header>
                  <!-- Card header with a title -->
                  <h1>Role of User : Name</h1>
                  
                </mat-card-header>
  
               
                <!-- Angular Material divider line -->
  
                <mat-card-content>
                  <!-- Content inside the nested card -->
                  <h2>Current Role : <span>Normal User</span></h2>
                  <h3>Change Role
                    <span>
                      <mat-slide-toggle>Admin</mat-slide-toggle>
                    </span>
                  </h3>
                </mat-card-content>

                 <mat-card-actions>
                      <button class="danger">Change</button>
                 </mat-card-actions>

              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  