<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Add Categories</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
            <mat-form-field class="full-width">
              <input matInput placeholder="Title" [(ngModel)]="category.title" name="title" required>
            </mat-form-field>
            <mat-error *ngIf="signupForm.controls['title'].invalid && signupForm.controls['title'].touched">
              Title is required.
            </mat-error>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Description" rows="8" [(ngModel)]="category.discription" name="discription" required></textarea>
            </mat-form-field>
            <mat-error *ngIf="signupForm.controls['discription'].invalid && signupForm.controls['discription'].touched">
              Description is required.
            </mat-error>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="like-button" (click)="onSubmit()">Add</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
