<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <title>Document</title>

    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zeid4pL3XM2LDL8QztpRIy6qF3N7LC2j15RQTU8pAsglYDX5l5/bj6s78I5jSMrR" crossorigin="anonymous">

<!-- Bootstrap JavaScript Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-bRC0F5iXYU8htHO1jkL64e6tFv0lNn4aCkFZusU2FmIOrlW1JXcf5tfCJ54OAYf8" crossorigin="anonymous"></script>

</head>

<body>
    <div>
        <div>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner w-100">
                    <div class="carousel-item active">
                        <!--https://img.freepik.com/premium-photo/graduates-stand-with-diplomas-lobby-university_85574-14580.jpg?size=626&ext=jpg&ga=GA1.1.1534446228.1694758789&semt=ais-->
                        <img src="../../../assets/category.jpg"
                            class="" style="height: 540px; width: 100%;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>All India Test Series - CBSE </h1>
                            <p>Gauge and improve your performance through All India Test Series CBSE🏅</p>
                        </div>
                    </div>
                    <div class="carousel-item w-100">
                        <img src="../../../assets/home.jpg"
                            class="" style="height: 540px; width: 100%;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Best Web Design Training Institute</h1>
                            <p>India's Leading intelligent Interactive Panel For Education</p>
                        </div>
                    </div>
                    <div class="carousel-item w-100">
                        <img src="../../../assets/teacher.jpg"
                            class="" style="height: 540px; width: 100%;" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Book your Free Demo session</h1>
                            <p> All teachers teach. Greatest teachers inspire</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container border border-3 shadow "
            style="margin: auto; margin-top: 1%; border-radius: 8px; white-space: nowrap;">
            <h3 class="bg-warning text-center" style="width: 20%; border-radius: 10px;">Popular Courses</h3>
            <div class="row row-cols-4 " style=" white-space: wrap;">
                <div class="col border border-secondary rounded-top m-2 card-body" style="width: 10rem;">
                    <div class="card-body">
                        <h6 class="subtitle mb-2 text-muted">subtitle</h6>
                        <h5 class="jeee-crash">JEE Crash</h5>
                        <p class="card-text">Some quick bordy </p>
                    </div>
                </div>
                <div class="col border border-secondary rounded-top m-2 card-body" style="width: 10rem;">
                    <div class="card-body">
                        <h6 class="subtitle mb-2 text-muted">subtitle</h6>
                        <h5 class="neet-crash">NEET Crash</h5>
                        <p class="card-text">Some quick bordy </p>
                    </div>
                </div>
                <div class="col border border-secondary rounded-top m-2 card-body" style="width: 10rem;">
                    <div class="card-body">
                        <h6 class="subtitle mb-2 text-muted">subtitle</h6>
                        <h5 class="card-title">Early Learning</h5>
                        <p class="card-text">Some quick card bordy </p>
                    </div>
                </div>
                <div class="col border border-secondary rounded-top m-2 card-body" style="width: 10rem;">
                    <div class="card-body">
                        <h6 class="subtitle mb-2 text-muted">subtitle</h6>
                        <h5 class="eamcet">EAMCET</h5>
                        <p class="card-text">Some quick bordy </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container " style="margin: auto; margin-top: 10%; border-radius: 8px; white-space: wrap;">
            <div style="white-space: nowrap; flex-wrap: nowrap; display: inline-block">
                <h2 class="row" style="display: inline-block;">Explore courses <a>class(1-12)</a></h2>
               
                
            </div>
            <div class="row row-cols-4 " style=" padding: 10px;">
                <div class="card border border-secondary m-2 card-body shadow "
                    style="width: 18rem; border-radius: 20px; background-image: url('https://img.freepik.com/premium-photo/young-asian-indian-student-with-glasses-backpack-holds-laptop-shows-thumbs-up-sign_928503-88.jpg');">
                    <div class="card-body">

                        <p>class 5-12</p>
                        <h5 class="competitive-exame">Competitive Exame</h5>
                        <div href="#" class="btn btn-outline-secondary m-1 border border-1 ">JEE</div>
                        <div href="#" class="btn btn-outline-secondary m-1 border border-1 ">NEET</div>
                        <div href="#" class="btn btn-outline-secondary m-1 border border-1  ">JEE/NEET Foundation</div>
                        <br />
                        <div href="#" class="btn btn-outline-secondary m-1 border border-1  ">EAMCET</div><br />
                        <div href="#" class="btn btn-outline-secondary m-1 border border-1  ">Olympiad</div><br />
                        <a href="#" class="btn  m-1  bg-danger bg-gradient">Explore courses</a>
                    </div>

                </div>

                <div class="card border border-secondary m-2 card-body shadow "
                    style="width: 18rem;  border-radius: 20px; background-image: url('https://img.freepik.com/premium-photo/young-asian-indian-student-with-glasses-backpack-holds-laptop-shows-thumbs-up-sign_928503-88.jpg'); ">
                    <div class="card-body">
                        <p>class 3-12</p>
                        <h5 class="school-tuition">School Tuition</h5>
                        <div href="#" class="btn btn-outline-secondary  m-1 border border-1 ">CBSE Board</div><br />
                        <div href="#" class="btn btn-outline-secondary  m-1 border border-1  ">ICSE Board</div><br />
                        <div href="#" class="btn btn-outline-secondary  m-1 border border-1  ">Learn code</div><br />
                        <a href="#" class="btn  m-1   bg-danger bg-gradient">Explore courses</a>
                    </div>

                </div>

                <div class="card border border-secondary m-2 card-body shadow "
                    style="width: 18rem;  border-radius: 20px; background-image: url('https://img.freepik.com/premium-photo/young-asian-indian-student-with-glasses-backpack-holds-laptop-shows-thumbs-up-sign_928503-88.jpg');">
                    <div class="card-body">
                        <p>class 1-5</p>
                        <h5 class="courses-kids">Courses for kids</h5>

                        <div href="#" class="btn btn-outline-secondary  m-1 border border-1 ">English Reading</div>
                        <br />
                        <div href="#" class="btn btn-outline-secondary  m-1 border border-1  ">Spoken English</div>
                        <br />
                        <div href="#" class="btn btn-outline-secondary  m-1 border border-1  ">Learn Math</div><br />
                        <div href="#" class="btn btn-outline-secondary  m-1 border border-1  ">Learn code</div><br />
                        <a href="#" class="btn m-1 bg-danger bg-gradient">Explore courses</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container " style="margin: auto; margin-top: 9%;">
            <div>
                <h1>Explore all our offerings</h1>
                <div class="row row-cols-10 " style="padding: 10px;">
                    <a href="#" class="col-lg-2 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 12 pass</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 12</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 10</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 9</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 8</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 7</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 6</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 5</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 4</a><br />
                    <a href="#" class="col-lg-1 btn btn-outline-secondary m-1 border border-1 "
                        style="white-space: nowrap;">Class 1-3</a><br />
                </div>
            </div>
        </div>

        <div class="container" style=" margin: 10%; border-radius: 8px; white-space: wrap;">
            <h2>Free LIVE Classes</h2>
            <div class="container">
                <div class="row row-cols-10" style=" padding: 8px;">
                    <div class="card border border-secondary m-2 shadow " style="width: 18rem;border-radius: 10px; ">
                        <img src="https://thinkexam.com/blog/wp-content/uploads/2020/03/Start-your-online-live-classes.png"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>JEE</h4>
                            <p class="card-text">Live class</p>
                        </div>
                    </div>
                    <div class="card border border-secondary m-2 shadow " style="width: 18rem;border-radius: 10px; ">
                        <img src="https://media.istockphoto.com/id/1366428092/photo/webinar-e-learning-skills-business-internet-technology-concepts-training-webinar-e-learning.webp?b=1&s=612x612&w=0&k=20&c=1I482dWMSRMPf2G_DmcEeVohqk_ErVfd9s7r1xYf2mA="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>NEET</h4>
                            <p class="card-text">Live class</p>
                        </div>
                    </div>
                    <div class="card border border-secondary m-2 shadow " style="width: 18rem;border-radius: 10px; ">
                        <img src="https://cdn.pixabay.com/photo/2020/07/02/18/20/webinar-5363819_640.png"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>EAMCET</h4>
                            <p class="card-text">Live class</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="">
        <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
            <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
                <div class="me-5">
                    <span>Get connected with us on social networks:</span>
                </div>

                <div>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </section>
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Institute</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                Amazing Technical: Empowering students with top-notch training in Java, Python, and Full Stack Web development for successful careers in tech. Industry-expert instructors, hands-on learning, and a commitment to real-world skills set us apart.
                            </p>
                        </div>
                    
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        
                            <h6 class="text-uppercase fw-bold">Teachers</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a href="#!" class="text-white">Sandip Kumar</a>
                            </p>
                            <p> <a href="#!" class="text-white"></a></p>
                            <p><a href="#!" class="text-white">Pradeep Kumar</a>
                            </p>
                            <p>  <a href="#!" class="text-white">Ganesh Sir</a></p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            
                            <h6 class="text-uppercase fw-bold">Online Classes Traninig</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p> <a href="#!" class="text-white">Java Developer</a></p>
                            <p><a href="#!" class="text-white">Python Developer </a>
                            </p>
                            <p><a href="#!" class="text-white">Data Structure & Algo</a></p>
                            <p><a href="#!" class="text-white">AWS</a></p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><i class="fas fa-home mr-3"></i> India, NY 10012</p>
                            <p><i class="fas fa-envelope mr-3"></i> javawithcoders@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> 7052563392</p>
                            <p><i class="fas fa-print mr-3"></i> 9005011181</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-white" href="#">Amazing Technical</a>
            </div>
        </footer>
    </div>

</body>

</html>

