<section style="margin-top: 10px;">
    <div class="container" style="width: 100%; height: 400px; margin: 0 auto 0px; border-radius: 20px;">
      <div class="home-area p-4 text-white mat-elevation-z2" style="text-align: center; border-radius: 10px; height: 22.5rem">

        <div style="padding-top: 50px;" class="learn-page text-center text-wrap fw-bolder mt-4">
          Start by deciding on the subject or topic you want to learn more about. It could be something related to your interests, career, or a new skill you want to acquire.
        </div>

        <button  class="danger" style="margin-top: 100px;" [routerLink]="'/admin-dashboard/welcome-child'">Learn More</button>
     
    </div>
    </div>
  </section>
  
  
  <section>
    <div class="container">
      <div class="row-card">
        <div class="body-colpage">
          <div class="">
            <div class="card-body body-card ">
              <mat-icon class="ionsicons">create</mat-icon>
              <p class="card-text">
                Reading on the internet has become a daily activity for <b>billions</b> of people. It allows us to consume a wide array of <b>content</b>, from news and <b>research articles</b> to social media updates and blog posts.
              </p>
            </div>
          </div>
        </div>
        <div class="body-colpage">
          <div class="">
            <div class="card-body body-card">
              <mat-icon class="ionsicons">filter</mat-icon>
              <p class="card-text ">Select a platform or service to host your data. There are various options available, including <b>cloud storage </b> services, web hosting providers, and <b>content management systems</b> (CMS).
              </p>
            </div>
          </div>
        </div>
        <div class="body-colpage">
          <div class="">
            <div class="card-body body-card">
              <mat-icon class="ionsicons">accessibility</mat-icon>
              <p class="card-text">Consider your reading goals. Are you reading for <b>entertainment, education, personal growth</b>, or a combination of these? Your goals will influence the types of books you select.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  