<mat-card>
    <h1 style="text-align: center;">Add New Quiz</h1>
    <div class="cantainer">
         <div class="row">
             <div class="col-md-8 offset-md-2">

               <form (ngSubmit)="addQuiz()">


                 <mat-form-field class="w100" appearance="fill">
                    <mat-label>Enter Title</mat-label>
                    <input type="text" [(ngModel)]="quiz.title" name="title" placeholder="Enter here .." matInput  required>

                 </mat-form-field>

                  <mat-form-field class="w100">
                    <mat-label>Textarea</mat-label>
                    <textarea [(ngModel)]="quiz.description" matInput rows="5" name="description"></textarea>
                  </mat-form-field>

                  <div class="row">
                      <div class="col-md-6">

                         <!--max marks-->

                         <mat-form-field class="w100" appearance="fill">
                            <mat-label>Max Marks</mat-label>
                            <input [(ngModel)]="quiz.maxMarks"  type="text" name="maxMarks" placeholder="Enter here .." matInput >
        
                         </mat-form-field>
                         
                      </div>

                      <div class="col-md-6">

                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Number of Questions</mat-label>
                            <input [(ngModel)]="quiz.numberOfQuestions" type="text" name="numberOfQuestions" placeholder="Enter here .." matInput >
        
                         </mat-form-field>

                      </div>
                  </div>

                  <mat-slide-toggle [(ngModel)]="quiz.active" class="mt20">Publish Staus</mat-slide-toggle>

                  
                  <mat-form-field appearance="fill" class="mt20 w100">
                    <mat-label>Choose Categories</mat-label>
                    <mat-select [(ngModel)]="quiz.category.cId" name="category">
                      <mat-option *ngFor="let c of categories" [value]="c.cId"> {{c.title}}</mat-option>
                        
                    </mat-select>
                  </mat-form-field>

                  <mat-card-actions>
               
                    <button class="btn btn-danger center" >Add Quize</button>
    
                 </mat-card-actions>

               </form>

             </div>

             <!--Button to add Quiz-->           

         </div>
    </div>
</mat-card>

