.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}


/* Base button style */
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    
  }

  .text-center{
    margin-top: 5px;
     text-align: center;
  }
  
  /* Button hover state */
  .custom-button:hover {
    background-color: #e54545;
  }
  
  /* Button active (clicked) state */
  .custom-button:active {
    background-color: #2980b9;
    transform: scale(0.95);
  }
  
  .mt50{
    margin-top: 70px;
  }

  
