<mat-card>
    <mat-action-list>
        <div class="mat-subheader">Menu</div>        
        
        <button mat-button [ngClass]="{ 'active': activeButton === 'profile' }" (click)="setActive('profile')" mat-list-item routerLink="/user-dashboard/0">
            <mat-icon >quiz</mat-icon>  All Quizzes
        </button>  
        
        <button mat-button [routerLink]="'/user-dashboard/'+c.cId" *ngFor="let c of categories" [ngClass]="{ 'active': activeButton === 'profile' }" (click)="setActive('profile')" mat-list-item >
            <mat-icon >quiz</mat-icon>  {{c.title}}
        </button>   
       
    </mat-action-list>
</mat-card>
